## 리스트
### 지하철 칸별로 10명, 20명, 30명

In [1]:
subway1 = 10
subway2 = 20
subway3 = 30

### 리스트를 사용하여 세 변수를 합침

In [2]:
subway = [10, 20, 30]
print(subway)

[10, 20, 30]

In [3]:
subway = ["유재석", "조세호", "박명수"]
print(subway)

['유재석', '조세호', '박명수']

### 데이터가 어디에 있는지 알고 싶다면 (예. 조세호가 몇 번째 인지?)

In [4]:
print(subway.index("조세호"))

1

### 파이썬에서는 데이터의 시작 위치가 0 부터이다.

### 데이터를 추가하고 싶다면

In [5]:
subway.append("하하")
print(subway)

['유재석', '조세호', '박명수', '하하']

### 특정 데이터 사이에 새로운 데이터를 추가하고 싶다면 (예. 유재석과 조세호 사이에 정형돈을 추가한다면)

In [6]:
subway.insert(1, "정형돈")
print(subway)

['유재석', '정형돈', '조세호', '박명수', '하하']

### 뒤에서부터 데이터를 하나씩 빼고 싶다면

In [7]:
print(subway.pop())
print(subway)

하하
['유재석', '정형돈', '조세호', '박명수']

### 같은 데이터가 몇 개 있는지 확인하려면

In [8]:
subway.append("유재석")
print(subway)
print(subway.count("유재석"))

['유재석', '정형돈', '조세호', '박명수', '유재석']
2

### 데이터를 정렬하려면

In [9]:
num_list = [5,2,4,3,1]
num_list.sort()
print(num_list)

[1, 2, 3, 4, 5]

### 순서를 뒤집으려면

In [10]:
num_list.reverse()
print(num_list)

[5, 4, 3, 2, 1]

### 모든 데이터 지우기

In [11]:
num_list.clear()
print(num_list)

[]

### 리스트는 자료형에 구애받지 않는다.

In [12]:
mix_list = ["조세호", 20, True]
print(mix_list)

['조세호', 20, True]

### 리스트 합치기

In [13]:
num_list = [5,2,4,3,1]
num_list.extend(mix_list)
print(num_list)

[5, 2, 4, 3, 1, '조세호', 20, True]